@charset "UTF-8";

/* 히어로 섹션 */
.hero-section1 {
	width: 100%;
	background: white;
	padding: .5rem 0;
	padding-top: 5rem;
}

#container {
	width: 100%;
	margin: 0 auto;
}

#contents {
	width: 100%;
	margin: 0 auto;
	min-height: 800px;
}

.titleArea h1 {
	/* margin-top: 50px; */
	color : #55555;
}
.titleArea {
	height: 100px;
	color : #55555;
	width: 1200px;
	
	
}

.table_div {
	width: 1200px;
	margin: 0px auto;
}

.table_div  table {
	width: 1200px; 
	text-align: center;
	border: 0;
	border-spacing: 0;
	border_collapse: collapse;
}

.table_div  table th {
	font-weight: 400;
	background-color: #f5ae64;
}

.table_div  table th, td {
	height: 29px;
	padding: 20px 15px;
	line-height: 22px;
	vertical-align: middle;
	color: #6d6d6d;
	border-bottom: 1px solid #e5e5e5;
}

.table_div table td.title {
	text-align: left;
}

.table_div table td.title a {
	text-decoration: none;
	color: #6d6d6d;
}

.table_div table img {
	width: 15px;
	height: 15px;
}

.table_div table div.inline {
	display: inline;
	margin: 0 5px;
}

.inputButton {
	background: #1a1a1a;
	color: #fff;
	display: inline-block;
	padding: 12px 20px;
	heignt: 40px;
	font-size: 13px;
	box-sizing: border-box;
	border: 1px solid transparent;
	line-height: 1;
	font-weight: bold;
	text-align: center;
	border-radius: 0.25rem;
}

.paging .pagination {
    margin: 30px 0 0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center;
}

.paging .pagination a {
    display: block;
    width: 40px;
    line-height: 40px;
    box-sizing: border-box;
    vertical-align: top;
    background-size: 40px;
    text-decoration: none;
    color: #333;
    border: 1px solid #e5e5e5;
}

.paging .pagination a:hover {
    background-color: #000;
    color: #fff;
    border-color: #e5e5e5;
}

.paging .pagination .active {
    color: #000;
    border-color: #000;
}

.table_div .recommendButton {
	background-image: url("/DCShop/resources/image/board/추천.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: cover;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border: 0px;
}

.table_div .recommendButton.active {
	background-image: url("/DCShop/resources/image/board/추천_활성화.png");
}


.image-container {
  position: relative; /* 자식 요소의 위치 기준점 설정 */
  width: 1200px; /* 필요에 따라 너비 설정 */
  height: auto; /* 필요에 따라 높이 설정 */
   /* margin-left: 800px; */
  display: flex;
  justify-content: space-between;
   top: 20px;
}

.image-container img {
  display: block; /* 이미지 아래에 불필요한 여백 제거 */
  width: 25%;
  height: auto;
 
}

.image-container a {
    display: block;
    width: 8%;
    height: auto;
     position: relative;
      top: 47px;
      right: 309px;
}

.text-overlay {
  position: absolute; /* 부모 요소 기준 위치 지정 */
  top: 67%; /* 위에서 50% 위치 */
  left: 88%; /* 왼쪽에서 50% 위치 */
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
  color: #707070; /* 텍스트 색상 */
  text-align: center;
  padding: 10px;
  /* 필요한 경우 배경색, 테두리 등을 추가합니다. */
}

.board_search {
	display: block; /* 이미지 아래에 불필요한 여백 제거 */
  width: 20%;
  height: 30px;
  /* height: auto; */
	 position: relative;
      top: 45px;
}
.img_con {
	width: 200px;
}