<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.DCShop.board.dao.BoardDAO">
 	
 	<resultMap id="boardMap" type="com.spring.DCShop.board.dto.BoardDTO">
 		<id property="b_num" column="b_num"/>
 		<result property="b_title" column="b_title"/>
 		<result property="b_contents" column="b_contents"/>
 		<result property="b_category" column="b_category"/>
 		<result property="b_dateposted" column="b_dateposted"/>
 		<result property="b_updateDate" column="b_updateDate"/>
 		<result property="b_views" column="b_views"/>
 		<result property="b_recommend" column="b_recommend"/>
 		<result property="b_image" column="b_image"/>
 		<result property="b_comments" column="b_comments"/>
 		<collection property="userDTO" column="u_member_id" resultMap="getUser"/>
 	</resultMap>
 	
 	<resultMap id="getUser" type="com.spring.DCShop.user.dto.UserDTO">
 		<id property="u_member_id" column="u_member_id"/>
 		<result property="u_id" column="u_id"/>
 		<result property="u_nickname" column="u_nickname"/>
 	</resultMap>
 
 	<!-- 게시판 목록 -->
 	<select id="boardListAction" parameterType="java.util.Map" resultMap="boardMap">
 		SELECT *
		  FROM (SELECT A.*
					 , rownum AS rn 
				  FROM (SELECT b.*
							 , u.u_nickname
							 ,(SELECT COUNT(*)
					 	  		 FROM comment_tbl c
					 	 		WHERE b.b_num = c.b_num) AS b_comments
						FROM user_tbl u, board_tbl b
						WHERE u.u_member_id = b.u_member_id
						  <if test="keyword != null and keyword != ''">
						  AND b.b_title LIKE '%'||#{keyword}||'%'
						  </if>
						  <if test="category != null and category != ''">
						  	and
						  	<choose>
						  		<when test="category=='free'">
						  			b.b_category = '자유'
						  		</when>
						  		<when test="category=='honeytip'">
						  			b.b_category = '꿀팁'
						  		</when>
						  		<when test="category=='review'">
						  			b.b_category = '리뷰'
						  		</when>
						  		<when test="category=='question'">
						  			b.b_category = '질문'
						  		</when>
						  		<otherwise>
						  			b.b_category IN ('자유', '꿀팁', '리뷰', '질문')
						  		</otherwise>
						  	</choose>
						  </if>
						  <if test="sortOrder != null and sortOrder != ''">
						  	ORDER BY
						  	<choose>
						  		<when test="sortOrder == 'viewCnt'">
						  			b.b_views DESC, b.b_num DESC
						  		</when>
						  		<when test="sortOrder == 'commCnt'">
						  			b_comments DESC, b.b_num DESC
						  		</when>
						  		<otherwise>
						  			b.b_num DESC
						  		</otherwise>
						  	</choose>
						  </if>
						
						) A 
				) 
		 WHERE rn BETWEEN #{start} AND #{end}
 	</select>
 	
 	<!-- 게시글 전체 개수 -->
 	<select id="boardListTotal" resultType="int">
 		SELECT COUNT(*) FROM board_tbl
 		<where>
 			<if test="keyword != null and keyword != ''">
			  AND b_title LIKE '%'||#{keyword}||'%'
			  </if>
			  <if test="category != null and category != ''">
			  	and
			  	<choose>
			  		<when test="category=='free'">
			  			b_category = '자유'
			  		</when>
			  		<when test="category=='honeytip'">
			  			b_category = '꿀팁'
			  		</when>
			  		<when test="category=='review'">
			  			b_category = '리뷰'
			  		</when>
			  		<when test="category=='question'">
			  			b_category = '질문'
			  		</when>
			  		<otherwise>
			  			b_category IN ('자유', '꿀팁', '리뷰', '질문')
			  		</otherwise>
			  	</choose>
			  </if>
 		</where>
 	</select>
 	
 	<!-- 작성자 -->
 	<select id="selectU_nicknameAction" parameterType="String" resultType="String">
 		SELECT u_nickname
 		  FROM user_tbl
 		 WHERE u_id = #{u_id}
 	</select>
 	
 	<!-- 게시판 등록 -->
 	<insert id="boardInsertAction" parameterType="com.spring.DCShop.board.dto.BoardDTO">
		INSERT INTO board_tbl (b_num, u_member_id, b_title, b_contents, b_category, b_dateposted, b_updateDate, b_views, b_recommend, b_image)
		VALUES ((SELECT NVL(MAX(b_num)+1,1) FROM board_tbl), #{u_member_id}, #{b_title}, #{b_contents}, #{b_category}, sysdate, NULL, 0, 0, 
			<if test='b_image != null'>
				#{b_image}
			</if>
			<if test='b_image == null'>
				null
			</if>)
 	</insert>
 	
 	<!-- 회원 번호  -->
 	<select id="selectU_member_id" parameterType="String" resultType="int">
 		SELECT u_member_id
	      FROM user_tbl
	     WHERE u_id = #{u_id, jdbcType=VARCHAR}
 	</select>
 	
 	<!-- 게시글 번호 -->
 	<select id="selectB_num" parameterType="int" resultType="int">
 		SELECT MAX(b_num)
 		  FROM board_tbl
 		 WHERE u_member_id = #{u_member_id}
 	</select>
 	
 	<!-- 게시판 상세페이지 -->
 	<select id="boardDetailAction" parameterType="int" resultMap="boardMap">
 		SELECT b.*
 			 , u.u_id
			 , u.u_nickname
		  FROM user_tbl u, board_tbl b
		 WHERE u.u_member_id = b.u_member_id
		   AND b.b_num = #{b_num}
 	</select>
 	
 	<!-- 조회수 증가 -->
 	<update id="viewsUpdateAction" parameterType="int">
 		UPDATE board_tbl
 		   SET b_views = b_views + 1
 		 WHERE b_num = #{b_num}
 	</update>
 	
 	<!-- 추천 여부 -->
 	<select id="isRecommended" parameterType="java.util.Map" resultType="int">
 		SELECT COUNT(*)
 		  FROM recommend_tbl
 		 WHERE u_member_id = #{u_member_id}
 		   AND b_num = #{b_num}
 	</select>
 	
 	<!-- 추천 추가 클릭 -->
 	<insert id="recommendAddAction" parameterType="java.util.Map">
 		INSERT INTO recommend_tbl(rec_num, u_member_id, b_num)
 		VALUES ((SELECT NVL(MAX(rec_num)+1, 1) FROM recommend_tbl), #{u_member_id}, #{b_num})
 	</insert>
 	
 	<!-- 추천 삭제 클릭 -->
 	<delete id="recommendRemoveAction" parameterType="java.util.Map">
 		DELETE FROM recommend_tbl
 		 WHERE b_num = #{b_num}
 		   AND u_member_id = #{u_member_id}
 	</delete>
 	
 	<!-- board_tbl 추천수 변경 -->
 	<update id="recommendUpdateAction" parameterType="java.util.Map" >
 		UPDATE board_tbl
   		   SET b_recommend = ( SELECT COUNT(*)
   		  						 FROM recommend_tbl
   		 						WHERE b_num = #{b_num}
   							  )
 		 WHERE b_num = #{b_num}
 	</update>
 	
 	<!-- 게시글 추천수 -->
 	<select id="selectB_recommend" parameterType="int" resultType="int">
 		SELECT b_recommend
 		  FROM board_tbl
 		 WHERE b_num = #{b_num}
 	</select>
 	
 	<!-- 댓글 목록 -->
 	<select id="commentListAction" parameterType="int" resultType="com.spring.DCShop.board.dto.CommentDTO">
 		SELECT
		      c.c_num,
		      c.b_num,
		      c.u_member_id,
		      c.c_content,
		      c.c_regDate,
		      c.c_num2,
		      c.c_deleted,
		      (SELECT u_nickname 
		         FROM user_tbl u
		        WHERE u.u_member_id = c.u_member_id ) AS c_writer
		  FROM comment_tbl c
		  WHERE c.b_num = #{b_num}
		  ORDER BY c.c_num asc
 	</select>
 	
 	<!-- 댓글 등록 -->
 	<insert id="commentInsertAction" parameterType="com.spring.DCShop.board.dto.CommentDTO">
 		INSERT INTO comment_tbl(c_num, b_num, u_member_id, c_content, c_regDate, c_num2, c_deleted)
		VALUES ((SELECT NVL(MAX(c_num)+1, 1) FROM comment_tbl), #{b_num}, #{u_member_id}, #{c_content}, sysdate, NVL(#{c_num2, jdbcType=INTEGER}, 0), NVL(#{c_deleted, jdbcType=CHAR}, 'N'))
 	</insert>
 	
 	<!-- 댓글 수정 -->
 	<update id="commentUpdateAction" parameterType="com.spring.DCShop.board.dto.CommentDTO">
	  UPDATE comment_tbl
	     SET c_content = #{c_content}
	   WHERE c_num = #{c_num}
	</update>
 	
 	<!-- 댓글 삭제 -->
	<delete id="commentDeleteAction" parameterType="int">
		DELETE FROM comment_tbl
	  	WHERE c_num = #{c_num}
	</delete>
	
	
 
 	<!-- 게시글 작성자 아이디 조회 -->
	<select id="selectBoardAuthorId" parameterType="int" resultType="string">
		SELECT u.u_id
		FROM user_tbl u JOIN board_tbl b ON u.u_member_id = b.u_member_id
		WHERE b.b_num = #{value}
	</select>
	
	<!-- 게시판 수정 정보 -->
	<select id="boardUpdateDTOAction" parameterType="int" resultMap="boardMap"> 
		SELECT * FROM board_tbl WHERE b_num = #{b_num} 
	</select>
	
	<!-- 게시판 수정 등록 -->
	<update id="boardUpdateAction" parameterType="com.spring.DCShop.board.dto.BoardDTO"> 
		UPDATE board_tbl 
		SET b_title = #{b_title}, 
			b_contents = #{b_contents},
			b_category = #{b_category},
			b_updateDate = SYSDATE
		WHERE b_num = #{b_num} 
	</update>
	
	<!-- 게시판 삭제 -->
	<delete id="boardDeleteAction" parameterType="int"> 
		DELETE FROM board_tbl WHERE b_num = #{b_num} 
	</delete>

	<!-- 추천(자식) 선삭제 -->
	<delete id="deleteRecommendsByBoard" parameterType="int">
		DELETE FROM recommend_tbl WHERE b_num = #{value}
	</delete>

	<!-- 댓글(자식) 선삭제 -->
	<delete id="deleteCommentsByBoard" parameterType="int">
		DELETE FROM comment_tbl WHERE b_num = #{value}
	</delete>
	
</mapper>
