<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.DCShop.mypage.dao.MypageDAO">
 	
	<!-- OrderList 가져오기 : 주문 리스트 -->
	<select id="getOrderList" resultMap="orderMap">
	    <![CDATA[
			SELECT *
			FROM (
			  SELECT t.*,
			         ROW_NUMBER() OVER (ORDER BY o_date DESC, o_num DESC) AS rn
			  FROM   order_tbl t
			  WHERE  u_member_id = #{u_member_id}
			)
			WHERE rn <= 5
		]]>
	</select>
	
	<resultMap id="orderMap" type="com.spring.DCShop.mypage.dto.OrderDTO">
	  <id     property="o_Num"     	        column="o_num"/>
	  <result property="pd_Id"      	    column="pd_id"/>
	  <result property="u_Member_Id"	    column="u_member_id"/>
	  <result property="o_name"	    		column="o_name"/>
	  <result property="o_phone"	    	column="o_phone"/>
	  <result property="o_date"	    		column="o_date"/>
	  <result property="o_price"	    	column="o_price"/>
	  <result property="o_Delivery_State"   column="o_delivery_state"/>
	  <result property="o_Delivery_Date" 	column="o_delivery_date"/>
	  <result property="o_Count" 	        column="o_count"/>
	  <result property="o_Payment" 	        column="o_payment"/>
	  <result property="o_Address" 	        column="o_address"/>
	  <result property="o_Zip_Code" 	    column="o_zip_code"/>
	  <result property="o_Request" 	        column="o_request"/>
	  <result property="o_Status" 	        column="o_status"/>
	  <result property="o_payment_key" 	    column="o_payment_key"/>
	  <collection property="productDto"     column="pd_id"     select="getProductList"/>
	</resultMap>
	
	 <select id="getProductList" resultType="com.spring.DCShop.mypage.dto.ProductDTO">
		SELECT pd_id pdId
		     , pd_name pdName
		     , pd_price pdPrice
		     , pd_brand pdBrand
		     , pd_image_url pdImageUrl
		     , pd_shipping_fee pdShippingFee
		     , pd_status pdStatus
		  FROM product_tbl
		 WHERE pd_id = #{pd_id}
	</select>
	
	
	<!-- CartList 가져오기 : 주문 리스트 -->
 	<select id="getCartList" resultMap="cartMap">
	    <![CDATA[
			SELECT *
			FROM (
			  SELECT t.*,
			         ROW_NUMBER() OVER (ORDER BY ct_add_date DESC, ct_num DESC) AS rn
			  FROM   cart_tbl t
			  WHERE  u_member_id = #{u_member_id}
			)
			WHERE rn <= 5
		]]>
	</select>
	
	<resultMap id="cartMap" type="com.spring.DCShop.mypage.dto.CartDTO">
	  <id     property="ctNum"     	        column="ct_num"/>
	  <result property="pdId"      	    	column="pd_id"/>
	  <result property="uMemberId"	    	column="u_member_id"/>
	  <result property="ctQuantity"   		column="ct_quantity"/>
	  <result property="ctAddDate" 			column="ct_add_date"/>
	  <collection property="productDto"     column="pd_id"     select="getProduct"/>
	</resultMap>
 
 	<select id="getProduct" resultType="com.spring.DCShop.mypage.dto.ProductDTO">
		SELECT pd_id pdId
		     , pd_name pdName
		     , pd_price pdPrice
		     , pd_brand pdBrand
		     , pd_image_url pdImageUrl
		     , pd_shipping_fee pdShippingFee
		     , pd_status pdStatus
		  FROM product_tbl
		 WHERE pd_id = #{pd_id}
	</select>
	
	<select id="pwdcheck" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*)
	    FROM user_tbl
	    WHERE u_id = #{u_id}
	      AND u_password = #{u_password, jdbcType=VARCHAR}
	      AND u_show = 'Y'
	</select>
	<select id="getUserInfo" parameterType="String" resultType="com.spring.DCShop.mypage.dto.MypageDTO">
		SELECT * 
		  FROM user_tbl
		 WHERE u_id=#{loginId}
	</select>
	
	<!-- update INfo -->
	<update id="setUserInfo" parameterType="java.util.Map">
		UPDATE user_tbl
		   SET u_password=#{u_password},
		   	   u_email = #{u_email},
		   	   u_nickname = #{u_nickname},
		   	   u_birthday = #{u_birthday},
		   	   u_address = #{u_address},
		   	   u_phone = #{u_phone}
		 WHERE u_id = #{u_id}
	</update>
	
	<!-- update Profile -->
	<update id="profileupdate" parameterType="java.util.Map" >
		UPDATE user_tbl
		  SET u_image = #{u_image}
		WHERE u_id = #{u_id}
	</update>
 
 </mapper>