<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.DCShop.shop.dao.OrderDAO">

	<select id="orderUserAction" parameterType="int" resultType="com.spring.DCShop.user.dto.UserDTO">
		SELECT *
		  FROM user_tbl
		 WHERE u_member_id = #{u_member_id}
	</select>
 	
 	<insert id="orderInsertAction" parameterType="com.spring.DCShop.shop.dto.OrderDTO">
 		INSERT INTO order_tbl(o_num
 							, pd_id
 							, u_member_id
 							, o_name
 							, o_phone
 							, o_date
 							, o_price
 							, o_delivery_state
 							, o_count
 							, o_payment
 							, o_address
 							, o_zip_code
 							, o_request
 							, o_status
 							, o_payment_key)
 		VALUES(#{o_num}
 			 , #{pd_id}
 			 , #{u_member_id}
 			 , #{o_name}
 			 , #{o_phone}
 			 , SYSDATE
 			 , #{o_price}
 			 , '배송준비중'
 			 , #{o_count}
 			 , #{o_payment}
 			 , #{o_address}
 			 , #{o_zip_code}
 			 , #{o_request}
 			 , #{o_status}
 			 , #{o_payment_key})
 	</insert>
 	
</mapper>
