<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	  
<mapper namespace="com.spring.DCShop.user.dao.UserDAO">  <!-- namespace="패키지명.인터페이스" -->
	
	
	<!-- 로그인 처리 / 회원정보인증 -->
	<select id="idpasswordchk" resultType="com.spring.DCShop.user.dto.UserDTO">
		SELECT u_member_id, u_id, u_password, u_name, u_address, u_zip_code, u_phone, u_email,
  u_birthday, u_nickname, u_show, u_role, u_image, u_piagree, u_magree FROM user_tbl
	</select>
	
	
</mapper>